/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";


ul li a { 
    text-decoration: none; 
 
   }
ul li a :hover{ 
    text-decoration: none; 

   }


.navbar-inverse{
 	margin: 0;
}
 
 .subitems_menu{
	list-style: none;
 	color:red;
 	float:left;
 	width: 35%;
 	padding: 5px;
	background-color: #333333;
}
 .subitems_menu:hover{
	list-style: none;
 	color:red;
 	float:left;
 	width: 35%;
 	padding: 10px;
	background-color: #333333;
}
 .items_menu{
 	list-style:none;
 	color:red;
 	float:left;
 	width: 25%;
 	padding: 0;
	background-color: #333333;
 }
.logo {
	font-size: 26px;
	font-weight: 700;
	letter-spacing: -1px;
	padding: 15px 0;
	
}
.navbar-right{
	margin-right:5%;
	margin-top: 0;
}

	.container{
		width: 50%;
	}
#main_content {
	#content {
		text-align:center;
		float: none;
	}
	padding-bottom: 100px;
	.link {
		padding: 2em 1em;
		border-bottom: 1px solid #e9e9e9;
		.title {

			a {
				color: #FF4500;
			}
		}
	}
	.comments_title {
		margin-top: 2em;
	}
	#comments {
		.comment {
			padding: 1em 0;
			border-top: 1px solid #E9E9E9;
			.lead {
				margin-bottom: 0;
			}
		}
	}
}
.o{
	color:white;
	text-decoration: none; 
 	background-color: #333333;
 	margin-left: 2px;
 	border-radius: 3px;
 	-webkit-transition: all 1s ease-out;
 	-moz-transition: all  1s ease-out;
 	padding: 3%;
	width: 100%;
	display:block;
}
.o:hover{
	color: black;
	text-decoration: none;
	background-color: #16A280;
 	margin-left: 15px;
}
.oo{
	color:white;
	text-decoration: none; 
 	background-color: #333333;
 	margin-left: 25px;
 	border-radius: 3px;
 	-webkit-transition: all 1s ease-out;
 	-moz-transition: all  1s ease-out;
 	padding: 3%;
	width: 92%;
	display:block;
}
.oo:hover{
	color: black;
	text-decoration: none;
	background-color: #16A280;
 	margin-left: 15px;
}